body{
    margin: 0;
    background-color: #f3f5f7;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 1000px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card { 
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    font-size: 24px;
}

@media(max-width: 1000px){
    .main-container{
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .card{
        width: 100%;
        font-size: 30px;
    }
}